.cart-dropdown {
  position: absolute;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 76px;
  right: 30px;
  z-index: 6;

  @media screen and (max-width: 400px){
    right:10px;
    left:10px;
    
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

}

