.sign-in-and-sign-up{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    justify-content: space-between;
    margin: auto;

    @media screen and( max-width: 800px){
        justify-content: center
        ;
    }

    @media screen and( max-width: 400px){
        width: 100%;
    }
}