.items-count-controller{
  min-width: 60px;
  color: red;
  
    button {
        border: none;
        background-color: inherit;
        font-size: 1.1rem;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.2s;
  
        &:focus {
          outline: none;
          opacity:1;
        }
      }
}