.sign-in {
  width: 360px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width:800px){
    width: 70%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.705);
}

@media screen and (max-width:400px){
  width: 100%;
  
}

  .bottom {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width:800px){
      justify-content: center;
  }
  }
}
