.products-directory {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  h1 {
    text-transform: uppercase;
  }

  .product-container {
    @media screen and (min-width: 800px) {
    //   width: 75vw;
    }
  }
}
