.carousel-container {
  width: 100%;
  height: 50vh;
  
  .react-multiple-carousel__arrow{
    z-index: 5;
  }
 
  @media screen and (max-width: 1250px){
    // height: 70vh;
  }

  @media screen and(max-width: 800px) {
    height: 40vh;
  }

  @media screen and(max-width: 450px) {
    height: 60vh;
  }

  @media screen and(max-height: 450px) {
    height: 85vh;
  }

  @media screen and (min-height: 1300px){ // iPad Pro
    height: 40vh;
  }

 

  .react-multi-carousel-list {
    height: 100%;

    ul {
      height: 100%;
    }
  }
}
