.footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
//   width: 100vw;
//   margin-left: -20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

// .footer{

//   // margin-top: 0px;

// }
