.sign-up{
    width: 360px;

    @media screen and (max-width:800px){
        width: 70%;

        button{
            margin: auto;
        }
    }

    @media screen and (max-width:400px){
        width: 100%;
    }
}