.product-item {
  border: 1px solid black;
  padding: 20px 10px;
  display: flex;

  .background-image {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
// // // // // //
.product-item-carousel {
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding-top: 30px;

  @media screen and (max-height: 400px) {
    padding: 10px 10px;
    flex-direction: row;
  }

  .background-image {
    height: 40%;

    @media screen and (max-height: 400px) {
      width: 45%;
      height: 80%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @media screen and (max-height: 400px) {
    width: 50%;
    height: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    @media screen and (max-width: 640px) {
      -webkit-line-clamp: 2;
    }

    @media screen and (max-height: 400px) {
      -webkit-line-clamp: 3;
    }
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    // @media screen and (max-width: 1024px) {
    //   -webkit-line-clamp: 4;
    // }
    @media screen and (max-height: 400px) {
      -webkit-line-clamp: 2;
    }
  }

  .price-and-btn {
    @media screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
    }

    .price {
      margin-bottom: 10px;
      letter-spacing: 0.9px;
    }
  }
}
}

// // // // // //
.product-item-shop {
  display: flex;
  width: 100vw;
  text-align: left;
  align-items: center;

  @media screen and (max-width: 450px) {
    flex-direction: column;
  }
  @media screen and (max-height: 450px) {
    // flex-wrap: wrap;
  }

  .background-image {
    width: 200px;
    height: 200px;
    justify-self: center;

    @media screen and (max-width: 450px) {
      width: 100%;
    }
  }
  .content {
    width: 75%;
    display: flex;
    padding-left: 40px;
    flex-grow: 1;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      text-align: center;
      align-content: center;
      width: 100%;
      padding: 10px;
    }

    @media screen and (max-height: 450px) {
      flex-direction: column;
    }

    .details {
      flex-grow: 1;
    }

    .price-and-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      @media screen and (max-height: 450px) {
        padding: 5px;
      }

      .price {
        padding: 10px 0px;
      }
    }
  }
}

// // // // // //
.product-item-single {
  height: 70vh;
  flex-direction: row;
  font-size: 1.4rem;
  padding: 20px 40px;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    height: 100%;
    padding: 10px;
    font-size: 1.2rem;
  }

  @media screen and (max-height: 400px) {
    height: 100%;
    font-size: 1.2rem;
    flex-wrap: wrap;
  }

  .background-image {
    @media screen and (max-width: 800px) {
      height: 40vh;
      margin-top: 20px;
    }

    @media screen and (max-height: 400px) {
      height: 40vh;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 0.5px;
    padding-left: 50px;

    @media screen and (max-height: 400px) {
      width: 100%;
      padding-left: 0;
    }

    @media screen and (max-width: 800px) {
      padding: 20px;
    }
    @media screen and (max-width: 400px) {
      padding: 7px;
    }

    .details {
      .title {
      }
      .description {
      }
    }

    .price-and-btn {
      display: flex;
      flex-direction: column;

      .price {
        margin-bottom: 10px;
      }
      @media screen and (max-width: 800px) {
        margin-top: 20px;
      }
      @media screen and (max-height: 400px) {
        margin-top: 20px;
      }
    }
  }
}
