.header {
  display: flex;
  align-items: center;
  background-color: pink;

  .logo {
    padding-left: 20px;
  }

  .header-link {
    text-decoration: none;
    opacity: 1;
    transition: 0.2s;
    text-transform: uppercase;
    
    &:hover {
      opacity: 0.8;
    }
  }

  .header-items {
    flex-grow: 1;
    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      padding: 0 20px;

      li {
        cursor: pointer;
        padding: 0 10px;
        
      }
    }
  }
}
