.products-directory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1{
        display:block;
        text-transform: uppercase;
    }
    
    .product-container{
        width:30vw;
        height:40vh;
    }
}