.products-directory{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h1{
        text-transform: uppercase;
    }
    
    @media screen and (min-width: 800px){
        .product-container{
            width:75vw;
        }
    }
   
}