

.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  * {
    box-sizing: border-box;
  }

  .loader-container{
    height:70vh;display: flex;
    align-items: center;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
}
